@import '../../styles/base/_Typography.MixIn.less';
@import '../../styles/variable.less';
@import '../../styles/screen.less';
@h1-color: #282c34;
@h2-color: #383838;
@h3-color: #494949;
@blockquote-color:#5a5a5a;
.jigloo-editor {
    width: 100%;
    h1 {
        font-size: 35px;
        margin: 0;
        line-height: 40px;
        padding: 15px 0;
        color: @h1-color;
        @media @phone{
            font-size: 28px;
            line-height: 35px;
            
        }
    }
    h2 {
        font-size: 30px;
        margin: 0;
        line-height: 35px;
        padding: 10px 0;
        color: @h2-color;
        opacity: .9;
        @media @phone{
            font-size: 24px;
            line-height: 30px
        }
    }
    h3 {
        color: @h3-color;
        font-size: 25px;
        line-height: 30px;
        margin: 0;
        padding: 8px 0;
        opacity: .8;
        @media @phone{
            font-size: 18px;
            line-height: 25px;
        }
    }
    .paragraph {
        color: @genera-color;
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        letter-spacing: 1px;
        margin: 0;
        padding: 10px 0;
        word-break: break-word;
    }
    blockquote {
        background: #eee;
        border-left: 2px solid @theme-color;
        color: @blockquote-color; 
        font-size: 14px;
        margin: 20px 0;
        padding: 10px;
        border-radius: 0 4px 4px 0;
    }
    ul,
    ol {
        color: #7b7b7b;
        line-height: 30px;
        margin: 0;
        padding: 16px 0;
    }
    pre {
        margin: 0;
    }
    figure {
        margin: 0;
        padding: 20px 0;
    }
    img{
        max-width: 100%;
        display: block;
        width: 100%;
        height: 100%;
    }
}