@import '../../styles/screen.less';
.user-profile {
    position: absolute;
    top: 32%;
    right: 20px;
    opacity: 0.4;
    width: 250px;
    z-index: 1;
    color: #fff;
    text-align: left;
    &:hover {
        opacity: 1;
    }
    @media @desktopMax {
        display: none;
    }
    img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }
    h4 {
        padding: 15px 0 0;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        margin: 0;
        text-align: left;
    }
    p {
        line-height: 28px;
        font-size: 15px;
        text-overflow: ellipsis;
        padding: 20px 0;
        font-weight: 400;
        margin: 0;
        text-align: left;
    }
}
.account-icons{
    display: flex;
    display: -webkit-flex;
    justify-content:space-around;
}
.account-icon {
    border-radius: 50%;
    i {
        font-size: 30px;
        background: #eee;
        border-radius: 50%;
        color: #000;        
    }
    .icon-github:hover {
        background: #fff;
        color:#000;
    }
}