@import '../../../styles/variable.less';
.login-signup-modal {
    width: 400px;
    min-height: 400px;
    .tabs {
        width: 100%;
        height: 30px;
        a {
            display: inline-block;
            width: 50%;
            height: 100%;
            text-align: center;
            &:nth-child(1) {
                border-right: @border;
            }
        }
        .selected-tab {
            font-weight: 700;
            color: @theme-color;
        }
    }
}