@import '../../styles/variable.less';
.comment-content {
    box-shadow: @boxShadow;
    margin-bottom: 10px;
    padding:5px 0 5px 5px;
    .comment-content{
        box-shadow: none;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 0;
    }
    .comment-opera{
        .opera-right{
            float:right;
        }
    }
}