@import '../../styles/variable.less';
.comment-content {
    border: @border;
    .comment-content{
        border: none;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 0;
        padding:0 0 5px 5px;
    }
}