@import '../../styles/variable.less';
@import '../../styles/screen.less';
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.4
    }
    50% {
        opacity: 6.0
    }
    100% {
        opacity: 0.4
    }
}

@keyframes pulsate {
    0% {
        opacity: 0.4
    }
    50% {
        opacity: 6.0
    }
    100% {
        opacity: 0.4
    }
}

.article-header {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    .content {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 100px;
        z-index: 1;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        max-width: @max-width;
        @media @phone{
            left: 0;
        }
        h1 {
            color: #fff;
            font-size:45px;
            font-weight: 700;
            line-height: 55px;
            text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
            text-align: left;
            @media @phone{
                font-size: 40px;
                line-height: 50px;
                text-align: center;
            }
        }
    }
    .move-down {
        font-size: 38px;
        color: #eee;
        position: absolute;
        bottom: 5%;
        left: 50%;
        opacity: 0.6;
        animation: pulsate 4s infinite ease-out;
        -webkit-animation: pulsate 4s infinite ease-out;
        cursor: pointer;
    }
}